<h1 class="page-title"><%= @valley.name %></h1>
<p id="notice"><%= notice %></p>

<main class="col-10">

  <% if @valley.dinosaurs.any? %>
    <% @valley.dinosaurs.each do |dino| %>
      <article class="col-3 valley">
        <%= image_tag dino.image_url %>
        <h1><%= dino.name %></h1>
        <p class="col-12">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <a href="<%=dinosaur_path(dino.id) %>" class="col-12">Learn more</a>
      </article>
    <% end %>
  <% else %>
    <p>There are no dinos in this valley.</p>
  <% end %>
